<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1">

    <title>{% if page.title %}{{ page.title }}{% endif %}</title>

    <link rel="stylesheet" media="all" href="/css/screen.css">
    {% if page.pattern-stylesheet %}<link rel="stylesheet" media="all" href="/css/patterns.css">{% endif %}

    <script src="/../bower_components/modernizr/modernizr.js"></script>
</head>
<body>
    {% include icon-sprite.svg %}
    {{ content }}
    <!-- build:js /scripts/main.js -->
        <script data-main="/scripts/main.js" src="/../bower_components/requirejs/require.js"></script>
    <!-- /build -->
</body>
</html>