a{
    color: $color__blue;
    transition: color $animation__timing;

    &:hover,
    &:focus{
        color: $color__blue--light;
        outline: none;
    }

    &:visited{
        color: $color__purple;
    }

    &:active{
        color: $color__red;
    }

    &:disabled,
    &[disabled],
    &.disabled{
        color: $color__gray;
        opacity: $ratio--inv;
        cursor: not-allowed;
    }
}