// Main Colors
// --------------------------------------------------
$color__black : #333;
$color__grey : #999;
$color__white : #eee;


// Brand Colors
// --------------------------------------------------
$color__twitter : #00acee;
$color__facebook : #3b5998;
$color__google : #db4a39;
$color__pinterest : #c8232c;