// Don't leave stuff in here, it's lazy and everyone will hate you for it.

.hide { 
	height: 0;
	transition: all 0.5s;
}

.add_margin {
	margin-top: 3em;
	transition: all 0.5s;
}

.home {
	float: left;
}