@keyframes zoom-in-down {
      0% {
        opacity: 0;
        transform: scale3d(3, 3, 3);
      }
      100% {
        transform: none;
        opacity: 1;
      }
}

%animation__zoom-in-down,
.animation__zoom-in-down{
  animation-name: zoom-in-down;
}