html {
    width: 100%;
    height: 100%;
}

body {
    box-shadow: -2px -1px 35px -4px rgba(0,0,0,0.12);
    width: 100%;
    margin-top: 3em;
    min-height: 100%;
    padding: 0;
    margin: 0 auto;
    transition: all 0.5s;
}

.toolbar__show {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}

.toolbar {
    padding: .2em;
    height: 3em;
    margin: 0;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    list-style: none;
    background: #ccc;
    transition: all 0.5s;

    li {
        display: inline-block;
        padding: .5em;
        margin: 0 .5em;
        cursor: pointer;
        
        &:hover {
            background-color: #ddd;
        }
    }
}